.logo {
  background-repeat: no-repeat;
  color: #777777;
  font-size: 0.9em;
  font-weight: bold;
  text-align: center;
  padding: 2em;
}

.logo img {
  display: block;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
}
